<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>box_ID_PW.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,67}</string>
                <key>spriteSourceSize</key>
                <string>{329,67}</string>
                <key>textureRect</key>
                <string>{{806,0},{329,67}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_coin1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,65}</string>
                <key>spriteSourceSize</key>
                <string>{270,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{270,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_coin2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,65}</string>
                <key>spriteSourceSize</key>
                <string>{268,65}</string>
                <key>textureRect</key>
                <string>{{270,0},{268,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_coin3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,65}</string>
                <key>spriteSourceSize</key>
                <string>{268,65}</string>
                <key>textureRect</key>
                <string>{{538,0},{268,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_event1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{411,272}</string>
                <key>spriteSourceSize</key>
                <string>{411,272}</string>
                <key>textureRect</key>
                <string>{{1498,71},{411,272}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_event2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,276}</string>
                <key>spriteSourceSize</key>
                <string>{416,276}</string>
                <key>textureRect</key>
                <string>{{0,343},{416,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_event3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,276}</string>
                <key>spriteSourceSize</key>
                <string>{416,276}</string>
                <key>textureRect</key>
                <string>{{416,343},{416,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_exp1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{344,76}</string>
                <key>spriteSourceSize</key>
                <string>{344,76}</string>
                <key>textureRect</key>
                <string>{{0,71},{344,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_exp2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,71}</string>
                <key>spriteSourceSize</key>
                <string>{341,71}</string>
                <key>textureRect</key>
                <string>{{1135,0},{341,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_exp3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{341,71}</string>
                <key>spriteSourceSize</key>
                <string>{341,71}</string>
                <key>textureRect</key>
                <string>{{1476,0},{341,71}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_login1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{679,523}</string>
                <key>spriteSourceSize</key>
                <string>{679,523}</string>
                <key>textureRect</key>
                <string>{{1344,685},{679,523}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_login2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,507}</string>
                <key>spriteSourceSize</key>
                <string>{672,507}</string>
                <key>textureRect</key>
                <string>{{0,685},{672,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_login3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{672,507}</string>
                <key>spriteSourceSize</key>
                <string>{672,507}</string>
                <key>textureRect</key>
                <string>{{672,685},{672,507}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_map name.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{583,123}</string>
                <key>spriteSourceSize</key>
                <string>{583,123}</string>
                <key>textureRect</key>
                <string>{{344,71},{583,123}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_select1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{575,714}</string>
                <key>spriteSourceSize</key>
                <string>{575,714}</string>
                <key>textureRect</key>
                <string>{{1150,1208},{575,714}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_select2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{575,710}</string>
                <key>spriteSourceSize</key>
                <string>{575,710}</string>
                <key>textureRect</key>
                <string>{{0,1208},{575,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_select3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{575,710}</string>
                <key>spriteSourceSize</key>
                <string>{575,710}</string>
                <key>textureRect</key>
                <string>{{575,1208},{575,710}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>box_user information.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{727,342}</string>
                <key>spriteSourceSize</key>
                <string>{727,342}</string>
                <key>textureRect</key>
                <string>{{832,343},{727,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,194}</string>
                <key>spriteSourceSize</key>
                <string>{195,194}</string>
                <key>textureRect</key>
                <string>{{1102,71},{195,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{201,201}</string>
                <key>spriteSourceSize</key>
                <string>{201,201}</string>
                <key>textureRect</key>
                <string>{{1297,71},{201,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>circle_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,174}</string>
                <key>spriteSourceSize</key>
                <string>{175,174}</string>
                <key>textureRect</key>
                <string>{{927,71},{175,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttom.png</string>
            <key>size</key>
            <string>{2023,1922}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57607012bdd96c341942717c7b85d294:ef7c3c974f18768895552bb259e0abfe:9b5b09b9ed277847e2b3d6e04bd9822d$</string>
            <key>textureFileName</key>
            <string>buttom.png</string>
        </dict>
    </dict>
</plist>
