<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coronavirus-green-death_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-death_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-death_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-death_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-death_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-death_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-death_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-death_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-death_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-death_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-death_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>virus2_g.png</string>
            <key>size</key>
            <string>{1856,1868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e7f76f991e495ad3160c582b7a9f050:8b32fdbb07097688c3d1ebf23da63ad2:d860ec9dc163d753d6bc700106c1cf55$</string>
            <key>textureFileName</key>
            <string>virus2_g.png</string>
        </dict>
    </dict>
</plist>
