<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coronavirus-blue-rim-light-death_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-death_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-death_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-death_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-death_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-death_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-death_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-death_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-death_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-death_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-death_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-hit_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-hit_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-hit_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-hit_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-hit_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>virus1.png</string>
            <key>size</key>
            <string>{1856,1868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7a95f0fe8a76134b709c5b0a8242b067:f91c37f1c4db677585f743aed3fa5a70:0234f799c5b8fad79d3d1b0e0d8c49eb$</string>
            <key>textureFileName</key>
            <string>virus1.png</string>
        </dict>
    </dict>
</plist>
