<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coronavirus-green-idle1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle1_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>virus4_g.png</string>
            <key>size</key>
            <string>{1856,1868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3999632124b8ffc5575afae6ab751f2d:7429687c72fd166a357a0ebc2e1fb753:83c1c57e970c6433d6a64a1bc4881804$</string>
            <key>textureFileName</key>
            <string>virus4_g.png</string>
        </dict>
    </dict>
</plist>
