<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coronavirus-blue-rim-light-idle1_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-blue-rim-light-idle1_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>virus4.png</string>
            <key>size</key>
            <string>{1856,1868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e060ed6f992325afccf1c94b8547cecd:dada01e148c5fba47b5b946edc373783:36b170bbd887224f25d80f13803b60ef$</string>
            <key>textureFileName</key>
            <string>virus4.png</string>
        </dict>
    </dict>
</plist>
