<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>coronavirus-green-idle2_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,0},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle2_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-idle2_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-pulse_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,467},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-pulse_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-pulse_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-pulse_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{928,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-pulse_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{1392,934},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-pulse_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{0,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>coronavirus-green-pulse_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{464,467}</string>
                <key>spriteSourceSize</key>
                <string>{464,467}</string>
                <key>textureRect</key>
                <string>{{464,1401},{464,467}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>virus5_g.png</string>
            <key>size</key>
            <string>{1856,1868}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bbc37fb42f1329f323c7b3fac0ce42d:2731af10c2c0cd524088370c7cb30eb8:76f1df42d681089d1e212776bd910d81$</string>
            <key>textureFileName</key>
            <string>virus5_g.png</string>
        </dict>
    </dict>
</plist>
