<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Basket.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,202}</string>
                <key>spriteSourceSize</key>
                <string>{241,202}</string>
                <key>textureRect</key>
                <string>{{0,812},{241,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Computer-mouse-R.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,244}</string>
                <key>spriteSourceSize</key>
                <string>{140,244}</string>
                <key>textureRect</key>
                <string>{{298,1487},{140,244}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Cup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,203}</string>
                <key>spriteSourceSize</key>
                <string>{248,203}</string>
                <key>textureRect</key>
                <string>{{241,812},{248,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Dollars.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,238}</string>
                <key>spriteSourceSize</key>
                <string>{130,238}</string>
                <key>textureRect</key>
                <string>{{218,1249},{130,238}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Door-2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{157,239}</string>
                <key>spriteSourceSize</key>
                <string>{157,239}</string>
                <key>textureRect</key>
                <string>{{0,1487},{157,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Esc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,144}</string>
                <key>spriteSourceSize</key>
                <string>{243,144}</string>
                <key>textureRect</key>
                <string>{{0,125},{243,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,161}</string>
                <key>spriteSourceSize</key>
                <string>{246,161}</string>
                <key>textureRect</key>
                <string>{{0,269},{246,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,193}</string>
                <key>spriteSourceSize</key>
                <string>{123,193}</string>
                <key>textureRect</key>
                <string>{{373,619},{123,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Light-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{237,250}</string>
                <key>spriteSourceSize</key>
                <string>{237,250}</string>
                <key>textureRect</key>
                <string>{{216,1731},{237,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Music-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{229,230}</string>
                <key>spriteSourceSize</key>
                <string>{229,230}</string>
                <key>textureRect</key>
                <string>{{0,1015},{229,230}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Music-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{191,190}</string>
                <key>spriteSourceSize</key>
                <string>{191,190}</string>
                <key>textureRect</key>
                <string>{{182,619},{191,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Question mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,239}</string>
                <key>spriteSourceSize</key>
                <string>{141,239}</string>
                <key>textureRect</key>
                <string>{{157,1487},{141,239}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{246,161}</string>
                <key>spriteSourceSize</key>
                <string>{246,161}</string>
                <key>textureRect</key>
                <string>{{246,269},{246,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Shop.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{245,189}</string>
                <key>spriteSourceSize</key>
                <string>{245,189}</string>
                <key>textureRect</key>
                <string>{{0,430},{245,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Skull.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,236}</string>
                <key>spriteSourceSize</key>
                <string>{218,236}</string>
                <key>textureRect</key>
                <string>{{0,1249},{218,236}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sound-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,189}</string>
                <key>spriteSourceSize</key>
                <string>{182,189}</string>
                <key>textureRect</key>
                <string>{{245,430},{182,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Sound-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{182,189}</string>
                <key>spriteSourceSize</key>
                <string>{182,189}</string>
                <key>textureRect</key>
                <string>{{0,619},{182,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Space.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{243,144}</string>
                <key>spriteSourceSize</key>
                <string>{243,144}</string>
                <key>textureRect</key>
                <string>{{243,125},{243,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Switch-off.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,125}</string>
                <key>spriteSourceSize</key>
                <string>{236,125}</string>
                <key>textureRect</key>
                <string>{{0,0},{236,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Switch-on.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{236,125}</string>
                <key>spriteSourceSize</key>
                <string>{236,125}</string>
                <key>textureRect</key>
                <string>{{236,0},{236,125}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Timer.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{216,247}</string>
                <key>spriteSourceSize</key>
                <string>{216,247}</string>
                <key>textureRect</key>
                <string>{{0,1731},{216,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Wallet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{241,234}</string>
                <key>spriteSourceSize</key>
                <string>{241,234}</string>
                <key>textureRect</key>
                <string>{{229,1015},{241,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{496,1981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:837cc0a823ac21feeda7f6913530bcd6:3fd8bc6eacc627f322e2299107edba69:240848ad97db3b21fd898f16a7d3102d$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
